*{
    margin: 0;
    padding: 0;
}
body{
    position: relative;
    font-family: Arial,Verdana,"Microsoft Yahei",SimSun;
}
a{
    text-decoration: none;
}
b,em{
    font-style: normal;
}
img{
    border: none;
}
ul,ol,li{
    list-style: none;
}
