body{
    width: 100%;
    overflow-x: hidden;
    min-width: 1242px;
    background-color: #5085ef;
    font: 12px/1.6 tahoma,宋体,arial;
}
*{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}

/*顶部*/
.head{
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 42px;
    /*background-color: powderblue;*/
    color: #464646;
    text-align: left;
    font-size: 12px;
    z-index: 8000;
    overflow: hidden;
    background: url(../images/topspr.png) repeat-x;
}
.head .head_ul{
    display: block;
    width: 980px;
    padding: 0 5px;
    margin: 0 auto;
    position: relative;
    list-style: none;
}
.head_ul .ul_li1{
    width: 205px;
    height: 42px;
    padding: 0 15px 0 0;
    margin: 0 15px 0 0;
    float: left;
    background: url(../images/topspr.png) no-repeat 0 -42px;
    cursor: pointer;
}
.head_ul .ul_li2{
    width: 230px;
    height: 42px;
    float: left;
    background: url(../images/topspr.png) no-repeat 0 -84px;
    cursor: pointer;
}
.head_ul .ul_li3{
    height: 42px;
    line-height: 42px;
    float: right;
}
.ul_li3 .li3_r{
    float: right;
    width: 80px;
    padding: 0 0 0 28px;
    background: url(../images/topspr.png) no-repeat 10px -126px;

}
.ul_li3 a{
    color: #464646;
    text-decoration: none;
    line-height: 42px;
}

.ul_li3 .li3_l{
    float: right;
}
.li3_l a{
    border-right: 1px solid #BFC6D7;
    padding: 0 9px;
}
.li3_l a:hover{
    color:#0096D0;
}

/*主动画区域*/
.content{
    position: relative;
    /*background-color: powderblue;*/
    width: 100%;
    height: 855px;
    overflow: hidden;
}
.content .main-content{
    position: relative;
    /*overflow: hidden;*/
    width: 100%;
    height: 855px;
}
.cartoon-content{
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
}
/*英雄联盟文字logo*/
.cartoon-content .lol-logo{
    position: absolute;
    top: 2%;
    left:2%;
    width: 95px;
    height: 35px;
    background: url("../images/middle-white.png") no-repeat;
    background-size: 100% 100%;
}
/*金币图标*/
.cartoon-content .position-gold{
    position: absolute;
    top:10.26%;
    left: 10.57%;
    /*width: 156px;*/
    /*height:148px;*/
    width: 10.26%;
    height: 17.22%;
    cursor: pointer;
    /*background-color: powderblue;*/
}
.position-gold .cartoon-gold{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/gold.png") no-repeat;
    background-size: 100% 100%;

}
.am-gold{
    animation: gold-move 2s infinite alternate;
}
@keyframes gold-move {
    0%{
        transform:translate(10px,10px);

    }
    /*50%{*/
    /*    transform: translate(0,0);*/
    /*}*/
    100%{
        transform: translate(-10px,-10px);
    }
}

.hover-gold{
    display: none;
    position: absolute;
    top:26%;
    width: 633px;
    height: 322px;
    /*background-color: powderblue;*/
    padding-top: 20px;
    background: url(../images/pop-bg1.png) no-repeat 0 50px;
    background-size: 100% 86%;
    z-index: 10;
    text-align: center;
}
.hover-gold .gold-title{
    width: 323px;
    height: 41px;
    /*background-color: #23c6d0;*/
    margin: 50px auto 25px;
    background: url(../images/font-spr.png) no-repeat 0 0;
}
.txt-content{
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 23px;
}
.btn{
    cursor: pointer;
    width: 143px;
    height: 45px;
    font-size: 16px;
    line-height: 45px;
    font-weight: bold;
    margin:0 auto;
    color: #fff;
    background: url(../images/btn-watch.png) no-repeat;
}
/*老鼠图标*/
.cartoon-content .position-mouse{
    position: absolute;
    top:28%;
    left: 27.5%;
    width: 5.8%;
    height: 8.8%;
    cursor: pointer;
}
.position-mouse .cartoon-mouse{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/mouse.png") no-repeat;
    background-size: 100% 100%;

}
.am-mouse{
    animation: mouse-move 2s infinite alternate;
}
@keyframes mouse-move {
    0%{
        transform: translate(5px,-3px);
    }
    100%{
        transform: translate(-5px,3px);
    }
}

.hover-mouse{
    display: none;
    position: absolute;
    top: 34%;
    left: 29%;
    width: 722px;
    height: 250px;
    padding-top: 80px;
    padding-left: 53px;
    /*background-color: powderblue;*/
    background: url(../images/pop-bg1.png) no-repeat 0 50px;
    background-size: 96% 84%;
    z-index: 10;
}
.hover-mouse .mouse-title{
    width: 400px;
    height: 41px;
    margin: 0 auto 25px;
    background: url(../images/font-spr.png) 0 -50px no-repeat;
}
.hover-mouse .mouse-logo{
    float: left;
    width: 100px;
    height: 128px;
    background: url(../images/logo1.png) no-repeat;
    margin: 0 20px 0 95px;
}
.hover-mouse .mouse-main{
    float: left;
    text-align: center;

}

/*大标题*/
.cartoon-content .position-title{
    position: absolute;
    top:9.7%;
    left: 31.25%;
    width: 36.875%;
    height: 23.70%;
    cursor: pointer;
    /*background-color: powderblue;*/
}
.position-title .cartoon-title{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/title.png") no-repeat;
    background-size: 100% 100%;
    animation: title-move 0.9s infinite alternate ease-in-out;
    filter:brightness(1);
    transform: scale(0.95);
}
@keyframes title-move {
    0%{
        transform: scale(1);
        filter:brightness(1.25);
    }
    100%{
        transform: scale(0.95);
        filter:brightness(1);
    }
}
/*三角形电视台*/
.cartoon-content .position-triangle{
    position: absolute;
    top: 8.61%;
    left: 76.25%;
    width: 8.85%;
    height: 14.63%;
    cursor: pointer;
    z-index: 10;
    /*background-color: powderblue;*/
}
.position-triangle .cartoon-triangle{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/triangle.png") no-repeat;
    background-size: 100% 100%;

}
.am-triangle{
    animation: triangle-move 0.9s infinite alternate ease-in-out;
}

.hover-triangle{
    display: none;
    position: absolute;
    top: 22%;
    right: 2%;
    width: 774px;
    height: 343px;
    /*background-color: powderblue;*/
    background: url(../images/pop-bg1.png) no-repeat 0 30px;
    z-index: 10;
}
.triangle-title{
    width: 156px;
    height: 41px;
    margin: 72px auto 25px;
    background: url(../images/font-spr.png) 0 -150px no-repeat;
}
.triangle-logo{
    float: left;
    width: 120px;
    height: 109px;
    margin: 8px 20px 0 95px;
    background: url(../images/logo2.png) no-repeat;

}
.triangle-main{
    float:left;
    text-align: center;
}
@keyframes triangle-move {
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
/*中间旗帜*/
.cartoon-content .position-flag{
    position: absolute;
    top: 33%;
    left: 46%;
    width: 10.5%;
    height: 26.2%;
    /*cursor: pointer;*/
    /*background-color: powderblue;*/
}
.position-flag .cartoon-flag{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/flag-spr.png") no-repeat;
    background-size: 9120px 225px;
    animation: flag-move 4s infinite steps(57,end) both;
}
@keyframes flag-move {
    0%{
        background-position:0px, 225px ;
    }
    100%{
        background-position:-9120px, 225px;
    }
}

/*手机图标*/
.cartoon-content .position-phone{
    position: absolute;
    top: 25.4%;
    left: 75.1%;
    width: 17.08%;
    height: 20.46%;
    cursor: pointer;
    /*background-color: powderblue;*/
}
.position-phone .cartoon-phone{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/phone.png") no-repeat;
    background-size: 100%, 100%;

}
.am-phone{
    animation: phone-move 2s infinite alternate;
}
@keyframes phone-move {
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}

.hover-phone{
    display: none;
    position: absolute;
    top: 37%;
    right: 23%;
    padding-top: 20px;
    width: 854px;
    height: 306px;
    /*background-color: powderblue;*/
    background: url(../images/pop-bg1.png) no-repeat;
    background-size: 100% 100%;
    z-index: 10;
}
.hover-phone .phone-title{
    width: 400px;
    height: 41px;
    margin: 0 0 25px 341px;
    background: url(../images/font-spr.png) no-repeat 0 -100px;
}
.hover-phone .phone-logo{
    float: left;
    width: 170px;
    height: 192px;
    background: url(../images/qr-code.png) no-repeat;
    margin: 0 20px 0 95px;
}
.hover-phone .phone-main{
    float:left;
    text-align: center;
}
/*游戏手柄*/
.cartoon-content .position-handle{
    position: absolute;
    width: 20.83%;
    height: 17.87%;
    bottom: 0.7%;
    overflow: hidden;
    left: 49.375%;
    /*overflow: hidden;*/
    /*background-color: powderblue;*/
}
.position-handle .cartoon-handle{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/handle.png") no-repeat;
    background-size: 100%, 100%;

}
.am-handle{
    animation: handle-move 2s infinite alternate;
}
@keyframes handle-move {
    0%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(35px);
    }
}

.hover-handle{
    display: none;
    position: absolute;
    top: 54%;
    left: 39%;
    padding-top: 20px;
    width: 854px;
    height: 392px;
    background: url(../images/pop-bg1.png) no-repeat;
    background-size: 100%;
    z-index: 10;
}
.hover-handle .handle-title{
    width: 222px;
    height: 41px;
    margin: 0 auto 25px;
    background: url(../images/font-spr.png) no-repeat 0 -200px;
}
.hover-handle .handle-logo{
    float: left;
    width: 170px;
    height: 192px;
    background: url(../images/qr-code2.png) no-repeat;
    margin: 0 20px 0 95px
}
.handle-main{
    float: left;
    text-align: center;
}

/*盖伦*/
.cartoon-content .position-hero1{
    position: absolute;
    width: 41.063%;
    height: 51.815%;
    bottom: 0.7%;
    left: -0.5%;
    overflow: hidden;
    /*background-color: powderblue;*/
}
.position-hero1 .cartoon-hero1{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/hero-1.png") no-repeat;
    background-size: 100%, 100%;
    animation: hero-move 3s infinite alternate;
}
@keyframes hero-move {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.03);
    }
}
/*牛头*/
.cartoon-content .position-hero2{
    position: absolute;
    width: 32.5%;
    height: 57.5%;
    bottom: 0.7%;
    right: -1%;
    overflow: hidden;
    /*background-color: powderblue;*/
}
.position-hero2 .cartoon-hero2{
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/hero-2.png") no-repeat;
    background-size: 100%, 100%;
    animation: hero-move 3s infinite alternate;
}
/*小摄像机*/
.cartoon-content .position-camera{
    position: absolute;
    width: 18.02%;
    height: 21.02%;
    top: 40.15%;
    left: 29.01%;
    cursor: pointer;
    /*background-color: powderblue;*/
    animation: camera-move 2s infinite alternate;
}
@keyframes camera-move {
    0%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(-5px);
    }
}
.position-camera .cartoon-camera1{
    /*line-height: 100%;*/
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/camera.png") no-repeat;
    background-size: 100% 100%;
}
.position-camera .cartoon-camera2{
    /*line-height: 100%;*/
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../images/camera-spr.png") no-repeat;
    background-size: 9000% 100%;
    animation: camera-play-move 3s infinite steps(89,end) both;
}
@keyframes camera-play-move {
    0%{
        background-position: 0;
    }
    100%{
        background-position: 100%;
    }
}
/*摄像机视频*/
.position-video{
    display: none;
    position: absolute;
    z-index: 999;
    width: 880px;
    height: 495px;
    top: 50%;
    left: 50%;
    margin: -250px 0 0 -440px;
    border: 4px solid #2872cd;
    background-color: powderblue;
    /*animation: scale 3s ease-in-out;*/
    /*transform: scale(0.4);*/
}
.close-video{
    position: absolute;
    top:-1%;
    right: -7%;
    padding-bottom: 5px;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 50px;
    color: #fff;
    background: #2872cd;
    text-align: center;
    cursor: pointer;
    /*animation: scale 3s ease-in-out;*/
    /*transform: scale(0.4);*/
}

/*图标的hover动画*/
@keyframes move {
    0%,12%,24%{
        transform: translateY(10px);
    }
    6%,18%{
        transform: translateY(-10px);
    }
}
.move{
    animation: move 2s infinite alternate ease-in-out;
}
/*.position-gold:hover{*/
/*    animation: move 2s infinite alternate ease-in-out;*/
/*}*/
/*.position-mouse:hover{*/
/*    animation: move 2s infinite alternate ease-in-out;*/
/*}*/
/*.position-triangle:hover{*/
/*    animation: move 2s infinite alternate ease-in-out;*/
/*}*/
/*.position-handle:hover{*/
/*    animation: move 2s infinite alternate ease-in-out;*/
/*}*/
/*.position-phone:hover{*/
/*    animation: move 2s infinite alternate ease-in-out;*/
/*}*/

/*导航*/
.cartoon-content .position-nav{
    position: absolute;
    font-weight: bold;
    top: 0;
    right: 0;
    width: 600px;
    height: 213px;
    /*z-index: 5;*/
    /*background-color: red;*/
}
.position-nav .nav-ul1{
    display: block;
    width: 100%;
    height: 38%;
    /*background-color: powderblue;*/
}
.nav-ul1 li{
    list-style: none;
    cursor: pointer;
    float: left;
    width: 33.33%;
    height: 100%;
    text-align: center;
    color: #fff;
    /*background: linear-gradient(#77b2e5, #79d0e9);*/
}
.nav-ul1 li i{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    padding-top: 9%;
    display: block;
    width: 100%;
    text-align: center;
    font-style: normal;
}
.nav_ul1 li span{
    font-size: 10px;
    line-height: 10px;
    font-weight: normal;
}

.nav-ul1 li:hover{
    background: linear-gradient(#77b2e5, #79d0e9);
}

.position-nav .nav-ul2{
    display: none;
    width: 100%;
    height: 40%;
    background: #6ebbd2;
    position: relative;
    padding-top: 5px;
    z-index: 20;
}
.nav-ul2 li{
    float: left;
    width: 33.33%;
    height: 47%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    line-height: 37px;
}
.nav-ul2 li:hover{
    color: #3692ad;
    background: url(../images/font-choose.png) no-repeat;
    background-size: 100% 100%;
}


/*进入页面视频*/
.open-video{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: auto;
    overflow: hidden;
    pointer-events: none;/*使当前页面鼠标事件失效*/
    /*animation: all 2s ease-in-out;*/

}
/*//底部*/
.foot{
    position: relative;
    padding-top: 25px;
    min-width: 100%;
    height: 110px;
    background: #5085ef;
    text-align: center;
    font: normal 14px/35px Tahoma;
    border-top: 0;
    overflow: hidden;
    color: #FFF;
}